<% if Photo.any? %>
	<% @photos.reverse.each do |photo| %>
		<p><%= photo.name %>
    <%= image_tag photo.image.url(:thumb) %>
    <%= time_ago_in_words(photo.created_at)%> Ago
    <% if user_signed_in? && current_user.id != photo.user_id %>
      <%= link_to "♥ #{photo.likes.count}", photo_likes_path(photo), method: :post %></p>
    <% end %>
    <% if current_user && current_user.id == photo.user_id %>
  		<%= link_to "Edit #{photo.name}", edit_photo_path(photo) %>
  		<%= link_to "Delete #{photo.name}", photo_path(photo), method: :delete %>
    <% end %>
	<% end %>
<% else %>
	<h1>No photos</h1>
<% end %>
<%= link_to 'Add a photo', new_photo_path %>