<% if Photo.all.any? %>
	<% @photos.all.each do |photo| %>
		<%= photo.name %>
    <%= time_ago_in_words(photo.created_at)%> Ago
    <span class="likes_count"><%= photo.likes.count %></span> Likes
    <% if user_signed_in? %>
      <%= link_to "Like", photo_likes_path(photo), class: 'likes-link' %>
    <% end %>
    <% if current_user && current_user.id == photo.user_id %>
  		<%= link_to "Edit #{photo.name}", edit_photo_path(photo) %>
  		<%= link_to "Delete #{photo.name}", photo_path(photo), method: :delete %>
    <% end %>
	<% end %>
<% else %>
	<h1>No photos</h1>
<% end %>
<a href="/photos/new.html" type="submit">Add a photo</a>